TAG_LIST_SPREADSHEET_URL=... # URL of the spreadsheet containing the tag list
ARITHMANCY_SIGNUP_URL=...    # URL of the Arithmancy signup form
DUELING_SIGNUP_URL=...       # URL of the Dueling signup form
ASSIGNMENTS_SIGNUP_URL=...   # URL of the Assignments signup form

REDDIT_CLIENT_ID=...      # Reddit client ID
REDDIT_CLIENT_SECRET=...  # Reddit client secret
REDDIT_USERNAME=...       # Bot's username
REDDIT_PASSWORD=...       # Bot's password
REDDIT_INBOX_USERNAME=... # Username of the inbox to send alerts to
